!!! 5
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
		title Twitter Example
		link(rel='stylesheet', type='text/css', href='../css/style.css')
		//if lt IE
			script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
	body
		// SLEEP
		#sleep
			div
				| sleeping...
		// header
		.header.noise
			.container
				.row
					.span4
						header
							a.logo(href='/')
								| Twtr
					.span8
						a(href='http://twitter.com/shaunkirkwong')
							| @shaunkirkwong
						|  /  
						a(href='https://github.com/shaunwong')
							| github
		// main
		.main
			.container
				.row
					.span4.searchbar
						form(action='javascript:void(0);').form-search#search
							| #
							input(type='text',value='cake').input-medium.search-query#q
							button(type='button').btn#s
								| search
					.span8.results
						table.table.table-striped
							thead
								tr
									th #
									th id
									th tweet
							tbody#results
								tr
									td 1
									td @fat
									td I like #cake
		// footer
		.footer.noise
			footer
				span
					a(href='//github.com/shaunwong')
						| © 2013 Shaun Kirk Wong.

		script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.0/backbone.localStorage-min.js')
		script(src='../js/app.js')

